.CompassCtrl {
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  text-align: left;
  width: 800px;
  height: 480px;
  position: absolute;
  background: black;
  z-index: 0;
  overflow: hidden;
  font-size: 1.8em;
}

.CompassCtrl label {
  font-size: 3em;
  display: block;
  text-align: center;
  padding: 350px 30px 30px 30px;
  text-shadow: #000 0 3px 3px;
}

.CompassCtrl .CompassCtrlNoNavvy {
  background: url(../images/sdcard.png) 100% 0% no-repeat;
}

.CompassCtrl .CompassCtrlNoConnectivity {
  background-color: rgba(62, 148, 218, 1);
}
